.results-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    max-width: 600px;
    margin: 60px auto 0 auto;
}

.results-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.results-empty {
    text-align: center;
    color: #777;
}

.results-match-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.results-teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 20px;
    gap: 10px;
}

.results-team {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.results-score {
    flex: 0 0 auto;
    font-size: 2.3rem;
    color: red;
    margin: 0 10px;
    text-align: center;
}

.results-date {
    margin-top: 6px;
    font-size: 1.2rem;
    color: #373737;
    text-align: center;
}
.no-results{
    text-align: center;
    font-size: 1.1rem;
}
.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}