.hero-header78 {
    gap: var(--dl-layout-space-threeunits);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.hero-column {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-unit);
}

.hero-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.hero-text1 {
    text-align: center;
    font-weight: 1100;

}

.hero-text2 {
    text-align: center;
    color: #000000 !important;
}




.hero-actions {
    display: flex;
    justify-content: center;
    gap: 16px;
    max-width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.hero-actions a {
    flex: 1;
    min-width: 250px;
    text-align: center;
    padding: 7px 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
    box-sizing: border-box;
}

.hero-content2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}

.hero-row-container1 {
    width: 100%;
}

.hero-placeholder-image10 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image11 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image12 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image13 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image14 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image15 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image16 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image17 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image18 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image19 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image20 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image21 {
    width: 400px;
    height: 400px;
}

.hero-row-container2 {
    width: 100%;
}

.hero-placeholder-image22 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image23 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image24 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image25 {
    width: 400px;

    
    height: 400px;
}

.hero-placeholder-image26 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image27 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image28 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image29 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image30 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image31 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image32 {
    width: 400px;
    height: 400px;
}

.hero-placeholder-image33 {
    width: 400px;
    height: 400px;
}

.hero-container2 {
    display: contents;
}
.watch-live-button{
    color:white;
}

.get-results-button
{
    text-wrap: wrap;
    text-align: center;

   padding: 8.5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hero-descritption{
    color: #040303 !important;
    text-align: center;
}

.equal-width-button {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;


    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 767px) {
    .hero-content2 {
        width: 100%;
    }
}

@media(max-width: 479px) {
    .hero-actions {
        width: 100%;
        flex-direction: column;
    }
    .hero-button1 {
        width: 100%;
    }
    .hero-button2 {
        width: 100%;
    }




}

@media (max-width: 600px) {
    .hero-actions {
        flex-direction: column;
    }

    .hero-actions a {
        width: 100%;
    }
}




