.teams-wrapper {
    padding: 4rem  1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #222;
    text-align: center;
}

.teams-table-container {
    width: 100%;
    max-width: 700px;
    overflow-x: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    background-color: #fff;
}

.teams-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 1rem;

}

.teams-table th, .teams-table td{
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;
    font-size: 1.3rem;

}

.teams-table tr:hover {
    background-color: #f9f9f9;
    transition:background 0.3s ease;
}

.teams-table a{
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

.teams-table a:hover{
    color: red;
    transition:background 0.3s ease;
}