.ticker-container {
  width: 350px;        /* прилагоди според ширината на тимската колона */
  overflow: hidden;
  max-height: 150px;
  
  color: rgb(255, 255, 255);          
  font-family: monospace;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px 10px;
  white-space: nowrap;
  margin: auto;
  font-size: 10rem;
  background-color: black;
  margin-bottom: 1%;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

.ticker span {
  padding-right: 50px; /* растојание помеѓу текстовите */
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}